.control {
  text-align: right;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
}

.control:disabled {
  cursor: not-allowed;
}

.control option[disabled] {
  color: rgba(var(--muted-foreground-rgb), 0.7);
}
